commiter.sh
migrater.sh
__pycache__/
dev_notes
creds.py
sandbox.py
instance/users.db
instance/
flask_session/
session/
migrations/
.vscode/
templates/cancel.html
templates/checkout.html
templates/payment.html
templates/success.html
templates/portal.html