/* body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.form_body {
  background-color: #233EFA;
}

.layout_body {
  background-color: #E3CCAE;
}

body {
  min-height: 100vh;
}


.btn-generate-pdf {
  background-color: #D94C30;
  color: antiquewhite;
}

.btn-generate-pdf:hover {
  background-color: #F15A59;
  color: rgb(20, 19, 18);
}

.sign-up {
  background-color: #252f17;
  color: antiquewhite;
}

.sign-up:hover {
  background-color: #F15A59;
  color: rgb(20, 19, 18);
}

div {
  overflow: auto;
}


.form_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262A56;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  font-family: Arial, sans-serif;
  /* opacity: 0.9; */
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #c8c5c5;
  margin-bottom: 20px;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin-right: 10px;
}

.tab button:hover {
  background-color: #b1cef1;
}

.tab button.active {
  background-color: #522407;
  color: white;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.eqp-dets{
  width: 100%;
  height: 100%;
  padding: 10px;

  margin-bottom: 30px;
}

.tabcontent:first-child {
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[id="dispatcher_email"],
input[id="dispatcher_phone"] {
  width: 80%;
  height: 50%;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[class="address"],input[class="run-dets"], input[class="eqp-dets"]  {
  width: 90%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

button[class="my-action-btn"] {
  background-color: #F15A59;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

button[class="my-action-btn"]:hover {
  background-color: #D94C30;
}

.complete {
  text-align: center;
}

.sticky-bottom {
  position: sticky;
  top: 100%;
}

div[id="footer"] {
  background-color: #ffffff;
  color: #000000;
}

.card-body {
  background-color: #E3CCAE;
  color: #000000;
}

.logo-div{
  padding: 2rem;
}

#ldl-logo {
  margin-top: 2rem;
}
 
#lbl-logo-ext{
  margin-top: 2rem;
}

#add_run_row {
  margin-top: 10px;
}

#quantity, #weight {
  width: 50%;
  height: 50%;
  margin-top: 20px;  
}

hr {
  border-top-width: 10px;
}

.phone-frame {
  position: relative;
  width: 360px; 
  height: 760px;
  margin: 0 auto;  
}
.screen {
  position: relative;
  top: 16px;  
  left: 16px;
  width: 328px;  
  height: 728px;
  overflow: hidden;
}
.screen img {
  display: block;
  width: 100%;
  height: auto;
}

.load-sheet-frame {
  position: relative;
  /* width: 360px; 
  height: 760px; */
  margin: 0 auto;
  
}

.load-sheet-img {
  /* position: relative; */
  border: 20px solid #262A56; 
  border-radius: 3rem;
  top: 16px;  
  left: 16px;
  width: 600px;  
  height: 700px;
  overflow: hidden;
}

.home-container{
  display: flex;
  padding-left: 10rem;
  padding-top: 1rem;
  row-gap: 10rem;
}

.button-container{
  display: flex;
  padding-top: 20p
}
.button-div {
  padding: 20px;
}
.sf-form-div{
  margin-top: 2rem;
}

@media(min-width: 1000px) and (max-width: 1200px)  {
  .phone-frame {
    position: relative;
    width: 360px; 
    height: 760px;
    margin: 0 auto;  
  }
  
  .load-sheet-frame {
    position: relative;
    /* width: 360px; 
    height: 760px; */
    left: 3rem;
    margin: 0 auto;
    
  }
  .phone-frame, .load-sheet-frame {    
    width: 50%;
    float: left;
    padding: 0;
  }
  
  .load-sheet-img {
    /* position: relative; */
    border: 20px solid #262A56; 
    border-radius: 3rem;
    top: 16px;  
    left: 1px;
    width: 400px;  
    height: 700px;
    /* overflow: hidden; */
  }
  
  .home-container{
    position: relative;
    width: 100%;
    height: 50rem;
    display: flex;
    padding-left: 3rem;
    padding-top: 1rem;
    row-gap: 10rem;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    row-gap: 0;
  }
  
  .phone-frame,
  .load-sheet-frame {    
    height: 760px;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
  }
  
  .load-sheet-frame {
    margin-top: 3rem;    
  }
  .phone-frame {
    margin: 0 auto;  
  }
}

@media(max-width: 600px) {
  div[class="form_main_div"] {
    width: fit-content;
  }

  input[class="address"],input[class="companies"],input[class="contacts"] {
    width: 100%;
  }

  button[class=tab] {
    float: center;
  }

  .my_nav_list_items {
    display: none;
  }
  
  button[class="my-action-btn"]:hover {
    background-color: #F15A59;
  }

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    row-gap: 0;    
  }  
  .phone-frame,
  .load-sheet-frame {    
    height: 760px;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
    top: 0;
  }  
  .load-sheet-frame {
    margin-top: 1rem;    
  }
  .phone-frame {
    margin: 0 auto;  
  }
  .load-sheet-img {
    width: 350px;
    height: 650px;
  }
}


.sub-card {
  background-color:#b1cef1;
}