<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOL Document</title>
</head>

<body style="max-width: 800px; margin: 0 auto; font-size: 14px; ">

  <div style="padding-top: 1rem;">

    <table style="table-layout: fixed; width: 100%;">
      <tr>
        <td style="width: 50%; ">{{your_company_name}} <br>
          {{your_company_address}}<br>
          Ph no. {{your_company_phone}}
        </td>
        <td style="width: 50%; text-align: right;">
          <div class="logo">
            
            {% if logo_size > 0 and not logo_ext %}
              <img src="{{logo_path}}" style="max-width: 40%;" alt="">
            {% elif not logo_size > 0 and logo_ext %}
              <img src="{{logo_ext}}" style="max-width: 40%;" alt="">
            {% elif logo_size > 0 and logo_ext %}
              <img src="{{logo_path}}" style="max-width: 40%;" alt="">
            {% endif %}
                      
          </div>
        </td>
      </tr>
    </table>
    <hr>

    <table style="padding: 0 0; margin: 0 0;">
      <tr>
        <td style="width: 33%;"><b>Dispatcher:</b> {{dispatcher_name}}<br></td>
        <td style="width: 33%;"><b>Phone:</b> {{dispatcher_phone}}<br></td>
        <td style="width: 33%; text-align: right; word-wrap: break-word;"><b>Email</b><br>{{dispatcher_email}}</td>
      </tr>
      <tr>
        <td colspan="3">
          <p> <b>Equipment Specifications:</b> {{equipment_details}}.</p>
        </td>
      </tr>
    </table>

    <hr style="padding: 0 0; margin: 0 0;">

    <table style="table-layout: fixed; width: 100%;">
      <tr style="padding-top: 50%;">
        <th colspan="5" style="text-align: center; padding-bottom: 0%;">Carrier Confirmation</th>
      </tr>
      
      <tr style="padding-top: 30%;">
        <td style="width: 40%; text-align: left;"><b>To: </b> {{to_company}} <br>
          <b>Bill To:</b> {{bill_to}}</td>
        <td style="width: 15%; text-align: center;"><b>Date:</b> <br>{{run_date}}</td>
        <td style="width: 15%; text-align: center;"><b>Dock #</b> <br>{{dock}}</td>
        <td style="width: 15%; text-align: left;"><b>PO #</b> <br>{{po_number}}</td>
        <td style="width: 15%; text-align: left;">          
          <b>Rate:</b><br> {{rate}}</td>
      </tr>
    </table>    
    <hr>


    <table style="table-layout: fixed; width: 100%; padding: 0 0; margin: 0 0;">
      <tr>
        <th style="width: 50%; text-align: left;">Pickup</th>
        <th style="width: 50%; text-align: left;">Delivery</th>
      </tr>

      <!-- Dynamic row inserts and handle completely blank rows -->
      {% for x in pickup_delivery_details %}
      {% if not ( x[0].pu_address == "" and  x[0].pu_time =="" and x[1].del_address == "" and  x[1].del_time =="") %}
      <tr>
        <td style="width: 40%;">
          {{x[0].pu_company}}          
          <br>
          Location: {{x[0].pu_address}}
          <br>
          Time: <b><time>{{x[0].pu_time}}</time></b>
          <br>
          Contact: {{x[0].pu_contact}}
          <br><br>
        </td>
        <td style="width: 40%;">
          {{x[1].del_company}}
          <br>          
          Location: {{x[1].del_address}}
          <br>
          Time: <b><time>{{x[1].del_time}}</time></b>
          <br>
          Contact: {{x[1].del_contact}}
          <br><br>
        </td>
        <td style="width: 20%; text-align: right;">
          Quantity: {{x[2].quantity}}
          <br>          
          Weight: {{x[2].weight}}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    <hr>
    <div>
      <table style="padding-top: 10px;">
        <tr>
          <td>Carrier's Authorized Signature: _______________</td>
          <td>Date:</td>
        </tr>
      </table>

    </div>
    <div style="padding-top: 0%;">
      <p style="padding: 0%;"><b>Comments:</b></p>
      <ul style="padding: 0; margin: 0;">
        {% for r in comments %}
        <li>{{r}} </li>
        {% endfor %}
      </ul>

    </div>


  </div>
</body>

</html>