{% extends "layout.html" %}
{% block content %}

<body class="form_body">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\styles.css">
    <script defer src="static\form.js"></script> 



    <br>
    <div class="form_main_div" >
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'company')">Company Information</button>
            <button class="tablinks" onclick="openTab(event, 'dispatcher')">Dispatcher's Information</button>
            <button class="tablinks" onclick="openTab(event, 'run')">Run Information</button>
            <button class="tablinks" onclick="openTab(event, 'location')">Pickup / Delivery Information</button>
            <button class="tablinks" onclick="openTab(event, 'reminder')">Reminder Information</button>
            <button class="tablinks gen_btn" onclick="openTab(event, 'complete')">Complete</button>
        </div>

        <form action="/form" method="post" enctype="multipart/form-data">
            <div id="company" class="tabcontent active">
                <label for="your_company_name">Company / Broker Name:</label><br>
                <input type="text" class="company_info" id="input1" name="your_company_name"><br>

                <label for="input2">Address:</label><br>
                <input type="text" class="company_info" id="input2" name="your_company_address"><br>

                <label for="your_company_name">Phone number:</label><br>
                <input type="text" class="company_info" id="input1" name="your_company_phone"><br>
                
                <div id="logo-div">
                    <label id="ldl-logo" for="logo">Upload Logo here:</label><br>
                    <input type="file" class="company_info" id="logo" name="logo"><br>
    
                    <label id="lbl-logo-ext" for="logo">Or provide Logo url here:</label><br>
                    <input type="url" class="company_info" id="logo_ext" name="logo_ext"><br>    
                </div>
            </div>

            <div id="dispatcher" class="tabcontent active">
                <label for="dispatcher_name">Dispatcher's Name:</label><br>
                <input type="text" id="dispatcher_name" name="dispatcher_name"><br>

                <label for="dispatcher_email">Dispatcher's eMail:</label><br>
                <input type="email" id="dispatcher_email" name="dispatcher_email"><br><br>

                <label for="dispatcher_phone">Dispatcher's Phone#:</label><br>
                <input type="phone" id="dispatcher_phone" name="dispatcher_phone"><br><br>

                <label for="carrier">Carrier</label><br>
                <input type="text" id="carrier" name="carrier"><br>

                <label for="equipment_details">Equipment Details:</label><br>
                <!-- <input type="text" name="equipment_details"> -->
                <select name="equipment_details" class="eqp-dets">     
                    <option value="Dump Truck">Dump Truck</option>               
                    <option value="53 ft Dry Van" selected>53 ft Dry Van</option>
                    <option value="Dry Van - less than 53ft">Dry Van - less than 53ft</option>                 
                    <option value="26ft Straight Truck">26ft Straight Truck</option>
                    <option value="Straight Truck - 20ft to 24ft">Straight Truck - 20ft to 24ft</option>
                    <option value="Straight Truck - Less than 20ft">Straight Truck - Less than 20ft</option>
                    <option value="Cube Van">Cube Van</option>
                    <option value="Cargo Van">Cargo Van</option>
                    <option value="Mini Van">Mini Van</option>
                    <option value="SUV">SUV</option>
                    <option value="Sedan">Sedan</option>
                </select>
                  
                <br>

                <label for="bill_to">Bill To:</label><br>
                <input type="text" name="bill_to"><br>
            </div>

            <div id="run" class="tabcontent active">
                

                <label for="dock">PO #:</label><br>
                <input type="text" name="po_number"><br>

                <label for="dock">Dock #:</label><br>
                <input type="text" name="dock"><br>                  

                <label for="rate">Rate:</label><br>
                <input type="text" name="rate"><br>
            </div>

            <div id="location" class="tabcontent active" style="height: 450px; overflow: auto;">

                <label for="run_date">Run Date:</label><br>
                <input type="date" name="run_date"><br><br>
                <div name="pickup_div"></div>
                
                <table name="run_table" id="run_table">
                    <tr name="run_row">
                        <tr>
                            <td>Pickup Details</td>
                            <td>Delivery Details</td>
                        </tr>
                        <td>    
                            <input type="text" id="pickup_company" class="companies run-dets" name="pickup_company" placeholder="Sending Company"> <br>
                            <input type="text" class="contacts run-dets" name="pickup_contact" placeholder="Contact info"> <br>
                            <input type="text" id="pickup_location" class="address run-dets" name="pickup_location" placeholder="Address"> <br>
                            <label for="pickup_time">Time:</label>
                            <input type="time" name="pickup_time" class="time" placeholder="00:00"><br>
                            <label for="quantity">Quantity:</label>
                            <input type="text" class="run-dets" id="quantity" name="quantity" placeholder="Quantity">
                        </td>
                        <td>    
                            <input type="text" id="delivery_company" class="companies run-dets" name="delivery_company" placeholder="Receiving Company"> <br>   
                            <input type="text" class="contacts run-dets" name="delivery_contact" placeholder="Contact info"> <br>                     
                            <input type="text" id="delivery_location" class="address run-dets" name="delivery_location" placeholder="Address"><br>
                            <label for="delivery_time">Time:</label>
                            <input type="time" name="delivery_time" class="time" placeholder="12:00"><br>
                            <label for="weight">Weight:</label>
                            <input type="text" class="run-dets" id="weight" name="weight" placeholder="Weight">
                        </td>
                    </tr>                    
                </table>                
                
                <button id="add_run_row" type="button">Add more</button>
                
                
            </div>

            <div id="reminder" class="tabcontent active">
                <div id="commentLineDiv" style="max-height: 400px; overflow: auto;">
                    <label for="comments">Comments:</label><br>
                    <input type="text" id="comments" name="comments"><br>                    
                </div>
                <button id="add_comments" type="button">Add more</button>
            </div>
            

            <div id="complete" class="tabcontent active complete">
                <div>
                    <!-- <div>                        
                        Share this record by email with your clients 
                        <br><br>
                        <input type="email" id="guest_email" name="guest_email"> 
                    </div>                    
                    <button type="submit" class="my-action-btn" name="action" value="share" formtarget="_blank">Share with a Client</button>  
                    <br><br>
                    Or simply
                    <br> -->
                    <button type="submit" class="my-action-btn" name="action" value="generate" formtarget="_blank">Generate SF Load Sheet</button>
                </div>
            </div>            
        </form>
    </div>

    
</body>

{% endblock %}
