<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static\styles.css">
    <script defer src="static\form.js"></script> 
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta http-equiv="Content-Type" content="application/javascript"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOL Generator</title>
</head>

<body>
    <br>
    <div class="main_div">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'company')">Company Information</button>
            <button class="tablinks" onclick="openTab(event, 'dispatcher')">Dispatcher's Information</button>
            <button class="tablinks" onclick="openTab(event, 'run')">Run Information</button>
            <button class="tablinks" onclick="openTab(event, 'location')">Pickup / Delivery Information</button>
            <button class="tablinks" onclick="openTab(event, 'reminder')">Reminder Information</button>
            <button class="tablinks gen_btn" onclick="openTab(event, 'complete')">Complete</button>
        </div>

        <form action="/form" method="post" enctype="multipart/form-data">
            <div id="company" class="tabcontent active">
                <label for="your_company_name">You Company Name:</label><br>
                <input type="text" class="company_info" id="input1" name="your_company_name"><br>

                <label for="input2">Your Company Address:</label><br>
                <input type="text" class="company_info" id="input2" name="your_company_address"><br>

                <label for="your_company_name">You Company Phone number:</label><br>
                <input type="text" class="company_info" id="input1" name="your_company_phone"><br>

                <label for="logo">Logo:</label><br>
                <input type="file" class="company_info" id="logo" name="logo"><br>
            </div>

            <div id="dispatcher" class="tabcontent active">
                <label for="dispatcher_name">Dispatcher's Name:</label><br>
                <input type="text" id="dispatcher_name" name="dispatcher_name"><br>

                <label for="dispatcher_email">Dispatcher's eMail:</label><br>
                <input type="email" id="input3" name="dispatcher_email"><br><br>

                <label for="dispatcher_phone">Dispatcher's Phone#:</label><br>
                <input type="phone" id="dispatcher_phone" name="dispatcher_phone"><br><br>

                <label for="to_company">Carrier</label><br>
                <input type="text" id="to_company" name="to_company"><br>

                <label for="equipment_details">Equipment Details:</label><br>
                <input type="text" name="equipment_details"><br>

                <label for="bill_to">Bill To:</label><br>
                <input type="text" id="input7" name="bill_to"><br>
            </div>

            <div id="run" class="tabcontent active">
                

                <label for="dock">Dock #:</label><br>
                <input type="text" id="input5" name="dock"><br>      

                <label for="quantity">Quantity:</label><br>
                <input type="text" id="input7" name="quantity"><br>

                <label for="weight">Weight:</label><br>
                <input type="text" id="input7" name="weight"><br>

                <label for="rate">Rate:</label><br>
                <input type="text" id="input7" name="rate"><br>
            </div>

            <div id="location" class="tabcontent active">

                <label for="run_date">Run Date:</label><br>
                <input type="date" id="input4" name="run_date"><br><br>
                <div name="pickup_div"></div>
                
                <table name="run_table" id="run_table">
                    <tr name="run_row">
                        <tr>
                            <td>Pickup Location and Time</td>
                            <td>Delivery Location and Time</td>
                        </tr>
                        <td>
                            
                            <input type="text" id="pickup_location" class="address" name="pickup_location"> <br>
                            <label for="pickup_time">Time:</label>
                            <input type="time" name="pickup_time"><br>
                        </td>
                        <td>
                            
                            <input type="text" id="delivery_location" class="address" name="delivery_location"><br>
                            <label for="delivery_time">Time:</label>
                            <input type="time" name="delivery_time"><br>
                        </td>
                    </tr>
                </table>
                <button id="add_run_row" type="button">Add more</button>
                
                
            </div>

            <div id="reminder" class="tabcontent active">
                <div id="commentLineDiv">
                    <label for="comments">Comments:</label><br>
                    <input type="text" id="comments" name="comments"><br>                    
                </div>
                <button id="add_comments" type="button">Add more</button>
            </div>
            

            <div id="complete" class="tabcontent active complete">
                <div>
                    <div>
                        Reminder: Fill in all the necessary details in the previous tabs before submitting.
                    </div>
                    <input type="submit" value="Submit" formtarget="_blank">
                </div>
            </div>            
        </form>
    </div>

    
</body>

</html>