{% extends "layout.html" %}

<!-- Override layout template using jinja for example, 
  override the title by inserting content 
  into % block title %TItle content% endblock % -->


{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Effortlessly Generate Professional Bill of Lading PDFs and Load Sheets</h1>
    <p class="lead">Ship Flow</p>
  </div>
</div>

<div class="home-container">
  <div class="load-sheet-frame">
    <img class="load-sheet-img" src="{{ url_for('static', filename='load_sheet.jpg')}}" alt="SF App Screenshot">
  </div>

  <div class="phone-frame">
    <div class="screen">
      <img src="{{ url_for('static', filename='mobile.png')}}" alt="SF App Screenshot">
    </div>
  </div>   
</div>

{% endblock %}