{% extends "layout.html" %}
{% block content %}

<div class="box container">
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <div>
          {{ form.email(size=30) }}<br>
          {% for error in form.email.errors %}
            <span style="color: rgba(163, 60, 0, 0.423);">{{ error }}</span>
          {% endfor %}
        </div>
        <div>
          {{ form.password(size=30) }}<br>
          {% for error in form.password.errors %}
            <span style="color: rgba(163, 60, 0, 0.423);">{{ error }}</span>
          {% endfor %}
        </div>
        <div>
          {{ form.submit() }}
        </div>
    </form>
</div>

{% endblock %}