{% extends "layout.html" %}
{% block content %}


<div class="container sub-cards">     
      

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly Subscription</h5>
          <h2 class="card-text">$19.99/month</h2>
          <p class="card-text">Billed monthly for access to our services.</p>
          <form action="/create-checkout-session" method="POST">
            <!-- Add a hidden field with the lookup_key of your Price -->
            <input type="hidden" name="lookup_key" value="sf_pro_monthly" />
            <button class="btn btn-primary" id="checkout-and-portal-button" type="submit">Subscribe Now</button>
        </form> 
        </div>
      </div>
      

      

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Yearly Subscription</h5>
          <h2 class="card-text">$16.49/month</h2>
          <p class="card-text">Save 17% with our annual plan.</p>
          <p class="card-text">Billed as $197.88 annually.</p>
          <form action="/create-checkout-session" method="POST">
            <!-- Add a hidden field with the lookup_key of your Price -->
            <input type="hidden" name="lookup_key" value="sf_pro_yearly" />
            <button class="btn btn-primary" id="checkout-and-portal-button" type="submit">Subscribe Now</button>
        </form> 
        </div>
      </div>
      

      
</div>


{% endblock %}